{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Create Post</h1>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="p-4 bg-light border border-primary rounded shadow-sm">
                <form method="POST">
                    {{ form.csrf_token() }}
                    <div class="mb-3">
                        <label for="{{ form.title.id }}" class="form-label">{{ form.title.label }}<span class="text-danger">*</span></label>
                        {{ form.title(class="form-control") }}
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.body.id }}" class="form-label">{{ form.body.label }}<span class="text-danger">*</span></label>
                        {{ form.body(class="form-control", rows='10') }}
                    </div>
                    <div class="text-end">
                        {{ form.submit(class="btn btn-success btn-lg px-4 py-2 shadow-sm") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
