# Flask Framework Packages
click
Flask
itsdangerous
Jinja2
MarkupSafe
Werkzeug

# Flask Functionality Packages
Flask-Login
Flask-Migrate
Flask-Script
Flask-SQLAlchemy
Flask-WTF
Flask-Admin
WTForms
Flask-Limiter
flask-qrcode
Flask-Login
email-validator

python-dotenv

pyotp

# cryptography
argon2-cffi
cryptography