{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Registration</h1>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="mb-4 text-center">
                <p>Please complete the following form to register an account to use the CSC2031 Blog.</p>
            </div>

            <div class="p-4 bg-light border border-primary rounded shadow-sm">
                <form method="POST">
                    {{ form.csrf_token() }}
                    <div>
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show mt-3" role="alert">
                            {{ message }} Go to <a href="{{ url_for('accounts.login') }}" class="alert-link">login page</a>.
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" onclick="delete_flash(this)" style="position: relative; top: -2px; right: -2px;">
                                
                            </button>                        
                        </div>
                        {% endfor %}
                        {% endwith %}
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.email.id }}" class="form-label">{{ form.email.label }}<span class="text-danger">*</span></label>
                        {{ form.email(class="form-control") }}
                        {% for error in form.email.errors %}
                            <span class="text-danger">{{ error }}<br></span>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.firstname.id }}" class="form-label">{{ form.firstname.label }}<span class="text-danger">*</span></label>
                        {{ form.firstname(class="form-control") }}
                        {% for error in form.firstname.errors %}
                            <span class="text-danger">{{ error }}<br></span>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.lastname.id }}" class="form-label">{{ form.lastname.label }}<span class="text-danger">*</span></label>
                        {{ form.lastname(class="form-control") }}
                        {% for error in form.lastname.errors %}
                            <span class="text-danger">{{ error }}<br></span>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.phone.id }}" class="form-label">{{ form.phone.label }}<span class="text-danger">*</span></label>
                        {{ form.phone(class="form-control") }}
                        {% for error in form.phone.errors %}
                            <span class="text-danger">{{ error }}<br></span>
                    {% endfor %}
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.password.id }}" class="form-label">{{ form.password.label }}<span class="text-danger">*</span></label>
                        {{ form.password(class="form-control") }}
                        {% for error in form.password.errors %}
                        <span class="text-danger">{{ error }}<br></span>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.confirm_password.id }}" class="form-label">{{ form.confirm_password.label }}<span class="text-danger">*</span></label>
                        {{ form.confirm_password(class="form-control") }}
                        {% for error in form.confirm_password.errors %}
                            <span class="text-danger">{{ error }}<br></span>
                        {% endfor %}
                    </div>
                    <div class="text-end">
                        {{ form.submit(class="btn btn-success btn-lg px-4 py-2 shadow-sm") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
